<div class="col-sm-6 text-left"> 
  <h1>Welcome</h1>
  <div class="item  col-xs-3 col-lg-3">
      <div class="thumbnail">
          <img class="group list-group-image" src="http://placehold.it/400x250/000/fff" alt="" />
          <div class="caption">
              <h4 class="group inner list-group-item-heading">
                  Product title1</h4>
              <p class="group inner list-group-item-text">
                  Product description... Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
                  sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
              <div class="row">
                  <div class="col-xs-12 col-md-6">
                      <p class="lead">
                          $21.000</p>
                  </div>
                  <div class="col-xs-12 col-md-6">
                      <a class="btn btn-success" href="http://www.jquery2dotnet.com">Add to cart</a>
                  </div>
              </div>
          </div>
      </div>
  </div>



  <div class="item  col-xs-3 col-lg-3">
      <div class="thumbnail">
          <img class="group list-group-image" src="http://placehold.it/400x250/000/fff" alt="" />
          <div class="caption">
              <h4 class="group inner list-group-item-heading">
                  Product title2</h4>
              <p class="group inner list-group-item-text">
                  Product description... Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
                  sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
              <div class="row">
                  <div class="col-xs-12 col-md-6">
                      <p class="lead">
                          $21.000</p>
                  </div>
                  <div class="col-xs-12 col-md-6">
                      <a class="btn btn-success" href="http://www.jquery2dotnet.com">Add to cart</a>
                  </div>
              </div>
          </div>
      </div>
  </div>


  
  <div class="item  col-xs-3 col-lg-3">
      <div class="thumbnail">
          <img class="group list-group-image" src="https://hips.hearstapps.com/del.h-cdn.co/assets/17/39/2048x1365/gallery-1506456062-delish-spaghetti-meatballs.jpg?resize=980:*" alt="" />
          <div class="caption">
              <h4 class="group inner list-group-item-heading">
                  Product title3</h4>
              <p class="group inner list-group-item-text">
                  Our hand rolled meatballs served with our Italian marinara sauce and topped with fresh parmesan cheese.</p>
              <div class="row">
                  <div class="col-xs-12 col-md-6">
                      <p class="lead">
                          $21.000</p>
                  </div>
                  <div class="col-xs-12 col-md-6">
                      <a class="btn btn-success" href="http://www.jquery2dotnet.com">Add to cart</a>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
