<!-- <div class="row">
    <div class="menu col-8">col</div>
    <div class="checkout col-4">col</div>
</div> -->

      <!-- <div class="row">
            <div class="col">col</div>
            <div class="col">col</div>
            <div class="col">col</div>
            <div class="col">col</div>
          </div> -->