<div class="col-sm-6 sidenav">
    <div class="well">
        <div class="thankYou" style="width:100%">
            <h1>Success!</h1>
            <table class="table">
              
              <tbody>
                    
              </tbody>
            </table>
          
            <h2><p>Your order is placed!<br><br><br><br>The pickup time will apear below shortly.<p></h2>
            
            <br>
            <br>
            <h2>Your food will be ready for pickup in.....minutes</h2>
   
    </div>
    <div class="well">
            <p>Text placeholder for possible extra stuff</p>
          </div>