<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Little Italy</title>

  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- App CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

  <!-- External JS (jQuery)-->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  <!-- App JS (DOM manipulation scripts)-->
  <script src="placeOrder.js"></script>

</head>
<body>
  <!-- <header></header> -->
  <nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-danger text-center">
      <h1 class="navbar navbar-default text-light">Burger Shack</h1>
  </nav>
  <br>
  <br>
  <br>
  <br>
  <!-- <header class="fixed">
    <h1 class="text-center bg-primary text-light">Little Italy</h1>
  </header> -->
 
  <section class="row">
    <div class="menu col-8 col-sm-9">
      <div class="row" id="food-goes-here">
      </div>
    </div>
    <div class="checkout sidenav sticky-top h-100 col-4 col-sm-3 text-center bg-dark">
      <h2 class="text-light">Checkout</h2>
      <!-- <div class="btn-group-vertical" data-toggle="buttons"> -->
        <div class="checkout-items">
          <img src="/pics/salad.png" class="dish img.-fluid" alt="salad">
          <img src="/pics/nachos.png" class="dish img.-fluid" alt="nachos">
        </div>
        

    
        <h3 class="text-light text-center"></h3>
        <br>
        <!-- <input type="text" placeholder="Name" class="form-control">
        <br>
        <input type="text" class="form-control" id="phone" placeholder="Please enter a phone number">
        <small class="form-text text-muted">Phone number is required for checkout</small>
        <br>
        <button type="submit" class="order btn btn-danger">Place Order</button> -->
        <div class="eta-space"></div>

        <form method="POST" action="/order">
          <!-- <textarea name="text" placeholder="Phone Number"></textarea> -->
          <input name="customerName" type="text" placeholder="Name" class="custInput form-control">
          <br>
          <input id="phone" name="customerNum" type="text" class="custInput form-control" placeholder="Enter a phone number">
          <small class="form-text text-muted">Phone number required</small>
          </br>
          <input class="order btn btn-danger" type="submit" value="Place Order">
        </form>

        <br>
      </div>
    </div>
  </div>
</section>

<script>
  $(function(){
    var food = ["Burger", "Fries", "Sandwich", "Salad", "Nachos", "Poutine", "Pop", "Juice", "icecream"]
    var $foodGoesHere = $('#food-goes-here');
    food.forEach(function(item){
      $foodGoesHere.append(`<div class="col">
        <h3 class="label text-center">${item}</h3>
        <img src="/pics/${item.toLowerCase()}.png" class="dish" alt="${item}">
       
      </div>`);
    })
  })
</script>

  <!-- <section id="orderList" class="">
    <% include partials/_orderList.ejs %>
  </section> -->

  <!-- <footer class="">
    <% include partials/_footer.ejs %>
  </footer>  -->
</body>
</html>