<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title>Twilio Button</title>
</head>
<body>
  <form method="POST" action="/order">
    <textarea name="text" placeholder="Phone Number"></textarea>
    <input type="submit" value="Feed me">
  </form>
</body>
</html>

